* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

h1 {
   margin: 10px 10px 10px 0px ;
   padding: 10px 10px 10px 50px;
   font-size: 50px;
   background-color: maroon;
   color: burlywood;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 30px 60px 30px 0px;
    list-style-type: none;
}

a {
    color: maroon;
}

.waves {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/Waves-crashing-on-beach_925x.jpg);
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
}

.about-me h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid burlywood;
    width: 25%;
    padding-right: 10px;
}

.about-me p {
    width: 75%;
    padding-left: 30px;
}

.work {
    display: flex;
}

.work h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid burlywood;
    width: 25%;
    padding-right: 10px;
}

.contact-me {
    display: flex;
}

.contact-me h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid burlywood;
    width: 25%;
    padding-right: 10px;
}