* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: burlywood;
    color: #fff;
}

h1 {
   padding: 10px 10px 10px 50px;
   font-size: 40px;
   background-color: maroon;
   color: burlywood;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 1rem;
    list-style-type: none;
}

a {
    color: maroon;
}

.waves {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/Waves-crashing-on-beach_925x.jpg);
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
}