* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: burlywood;
    color: #fff;
}

h1 {
   margin: 10px 10px 10px 0px ;
   padding: 10px 10px 10px 50px;
   font-size: 50px;
   background-color: maroon;
   color: burlywood;
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

nav ul li {
    margin: 30px 60px 30px 0px;
    list-style-type: none;
}

a {
    color: maroon;
}

.waves {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/Waves-crashing-on-beach_925x.jpg);
    background-size: cover;
    background-position: center;
}

.waves div h3 {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    background-color: maroon;
    color: burlywood;
}

.about-me {
    display: flex;
}

.about-me h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid maroon;
    margin-bottom: 10px;
    width: 25%;
    padding-right: 10px;
    color: burlywood;
}

.about-me p {
    width: 75%;
    padding-left: 30px;
    color: burlywood;
}

.work {
    display: flex;
}

.work h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid maroon;
    margin: 10px 0px 10px 0px;
    width: 25%;
    padding-right: 10px;
    color: burlywood;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 70%;
}

.boxes {
    display: flex;
    align-items: flex-end;
    border: 10px solid maroon;
    padding: 0 0px 30px 5px;
    margin: 10px 10px 10px 20px;
}

.project-1 {
    width: 100%;
    min-height: 300px;
    background-image: url(./images/breaking-wave.jpg);
}

.project-1 div {
    background-color: maroon;
    height: 70px;
    padding: 10px;
    color: burlywood;
}
    
.project-2 {
    width: 47%;
    min-height: 300px;
    background-image: url(./images/surfboards.jpg);
}

.project-2 div {
    background-color: maroon;
    height: 70px;
    padding: 10px;
    color: burlywood;
}

.project-3 {
    width: 47%;
    min-height: 300px;
    background-image: url(./images/Waxing_a_surfboard.jpg);
}

.project-3 div {
    background-color: maroon;
    height: 70px;
    padding: 10px;
    color: burlywood;
}

.project-4 {
    width: 47%;
    min-height: 300px;
    background-image: url(./images/Man_in_wetsuit.jpg);
}

.project-4 div {
    background-color: maroon;
    height: 70px;
    padding: 10px;
    color: burlywood;
}

.project-5 {
    width: 47%;
    min-height: 300px;
    background-image: url(./images/sunscreen.jpg);
}

.project-5 div {
    background-color: maroon;
    height: 70px;
    padding: 10px;
    color: burlywood;
}

.contact-me {
    display: flex;
}

.contact-me h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    border-right: 5px solid maroon;
    margin-top: 10px;
    width: 25%;
    padding-right: 10px;
    color: burlywood;
}

.contact-me nav {
    width: 75%;
}